# Eclipse
.classpath
.factorypath
.project
.settings/
.metadata/

# Maven build output
target/

# IDE - IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets (agar kabhi banao to)
.env
